<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>

        <!-- file inclued from _header.ejs syntax -->
        <!-- header and footer area are called layout -->
        <%- include('_header.ejs'); -%>
        
        <h1>codeial/<%=title %></h1>

        <!--  file inclued from _footer.ejs syntax -->
        <%- include('_footer.ejs'); -%>
        
    </body>
</html>