        <!-- here every thing is controll by layout so we dont need that we only need the content shown in body -->
        <!-- file inclued from _header.ejs syntax -->
        <!-- header and footer area are called layout -->
        <a href="/users/sign-Out">
                <button type="submit">Sign Out</button>        
        </a>
        <h1>codeial/profile page</h1>

        <!--  file inclued from _footer.ejs syntax -->
        
        <p>Name:<%=user.name %></p>
        <p>Email:<%=user.email %></p>
